{
    # Enable internal (self-signed) TLS
    local_certs
}

:443 {
    tls internal
    reverse_proxy app:8000
    
    # Increase compression performance
    encode gzip
    
    # Logging
    log {
        output file /data/caddy.log
    }
}

:80 {
    # Redirect HTTP to HTTPS
    redir https://{host}{uri}
}
