{
    # Global options
    local_certs
    debug
}

# Explicitly handle the IP on port 443
{$VM_IP}:443 {
    tls internal
    reverse_proxy app:8000
    
    encode gzip
}

# Redirect HTTP to HTTPS
http://{$VM_IP} {
    redir https://{$VM_IP}{uri}
}
