{
    local_certs
}

# Explicitly listen on 443 for the IP and use self-signed certs
https://{$VM_IP}:443 {
    tls internal
    reverse_proxy app:8000
    
    encode gzip
}

# Also handle the IP on port 80 for redirection
http://{$VM_IP}:80 {
    redir https://{$VM_IP}{uri}
}
